body {
    background-image: url(../img/body3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    overflow-x: hidden;
    color: white;
    font-family: 'Gruppo', cursive;
    margin: 0;
    padding: 0;
}

.navIcon {
  background-color: rgba(240, 242, 244, 0.227);
}

h2 {
    animation-duration: 3s;
    animation-name: slidein;
    text-align: center;
    margin-top: -2em;
    font-size: 3em;
    font-weight: bold;
    
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  
.first {
box-shadow: 0 0 0.5em 0.1em gainsboro;
}

.linkPart, .cardFood {
  box-shadow: 0 0 0.5em 0.1em rosybrown;
}

.links {
  font-size:xx-large;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.links:hover {
  color: rosybrown;
}

.food {
  /* box-shadow: 0 0 0.5em 0.1em rgb(161, 160, 160); */
  border-radius: 0.5em;
  font-size: x-large;
  font-weight: bold;
}

.cardText {
  font-size: larger;
}