body {
    background-image: url(../img/body4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    overflow-x: hidden;
    color: white;
    font-family: 'Gruppo', cursive;
    margin: 0;
    padding: 0;
}

h2 { 
    animation-duration: 3s;
    animation-name: slidein;
    text-align: center;
    /* margin-top: -2em; */
    margin-bottom: 1em;
    font-size: 3em;
    font-weight: bold;
        
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}  
      
.first {
  box-shadow: 0 0 0.5em 0.1em gainsboro;
}

.bShadow{
  box-shadow: 0 0 0.5em 0.2em gainsboro;
}
 .items:hover {
  background-color: rgba(188, 143, 143, 0.655);
 }

.navIcon {
  background-color: rgba(240, 242, 244, 0.227);
}

.navText {
  font-size: larger;
}

.spaceImg {
  width: 25em;
}

.map {
  height: 100%;
  width: 100%;
}

.choose {
  background-color: rgba(15, 69, 10, 0.185);
  font-weight: bold;
  color: rgb(4, 61, 4);
}

.reserveBtn {
  text-decoration: none;
}

.textEmail, .textExample {
  font-size: larger;
}

.firstRow {
  width: 100%;
  background-color: rgba(188, 143, 143, 0.332);
  border-radius: 2em;
  
}

.leftCard{
  background-image: url(../img/foto1Exp.jpg);
  height: 22em;
}

.rightCard {
  background-image: url(../img/foto2Exp.png);
  height: 22em;
}

.middleCard {
  background-color: rgba(188, 143, 143, 0.332);
  height: 22em;
}

.aboutProducts {
  background-image: url(../img/free.gif);
  height: 20em;
  background-size: cover;
}

.aboutProducts1 {
  background-image: url(../img/IMG_4193.jpg);
  height: 20em;
  background-size: cover;
}

.span {
  font-size: xx-large;
}
.card-textReserve {
  padding-top: 3em;
  font-size: x-large;
  font-weight: bold;
}

.card-textExperience {
  font-size: x-large;
}

.ourSpaces {
  background-image: url(../img/129.jpg);
  height: 20em;
  background-size: cover;
}

.leftCardAbout {
  background-image: url(../img/IMG_4171.jpeg);
  height: 20em;
  background-size: auto;
}

* {
  margin: 0;
  padding: 0;
}